@model MenagerTasker.Core.Entities.Manager

@{
    ViewData["Title"] = "Список задач с истекающим сроком окончания";
    ViewData["ManagerFullName"] = Model.FullName;
}

<h1>Список задач с истекающим сроком окончания</h1>
<section>

</section>


